/* Style Reset And Common Style*/
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: lightyellow;
}

a{
    text-decoration: none;
    font-size: 1.2em
}

.bookimg{
    border-radius: 0 10px 10px 0;
}

#outer_div {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

/* nav style */
#nav_bar {
    background-color: rgb(0, 0, 0, 0.85);
    text-align: center;
    width: 100%;
}

#nav_ul li {
    display: inline;
    margin: 0px 25px;
    font-size: 1.3em;
}

#nav_ul li a {
    font-weight: bold;
    color: white;
}

/* header style */

#header {
    width: 100%;
    line-height: 800%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.3) 59%, rgba(0, 0, 0, 0.85) 100%),
        url("/media/background.jpg") no-repeat;
    background-size: 100% 800px;
    background-position: bottom;
    text-align: center;
}

#header h1 a {
    font-weight: bold;
    font-size: 1.5em;
    color: rgb(187, 160, 101);
}

/* footer style */

#footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(0, 0, 0, 0.85);
    width: 100%;
    text-align: center;
    line-height: 200%;
}

#footer_nav_ul {
    list-style-type: none;
}

#footer_nav_ul li {
    margin: 0px 25px;
}

#footer_nav_ul li a {
    text-decoration: none;
    color: white;
}

#footer_div {
    color: white;
}

/* index style start */

#main h2 {
    width: 100%;
    font-size: 2em;
    text-align: center;
}

#main {
    padding: 2%;
}

#main_div_1,
#main_div_2,
#main_div_3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}


#div_2_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1%;
}

section p {
    padding: 2%;
}

#div_3_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1%;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
}

#div_3_section section a{
    height: 60px;
    color: black;
}

/* index style end */


/* book detail style start */

#book-main{
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 3%;
}

#book-main-left{
    position: sticky;
    top: 0;
    align-self: start;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

#book-main-left a{
    color: rgb(55, 34, 19);
    text-decoration: underline;
    margin-left: 3%;
    margin-top: 3%;
    height: 20px;
    width: 70%;
}

#genre{
    color: rgb(55, 34, 19);
    font-weight: 600;
}

.genre-list{
    font-weight: 500;
    text-decoration: 2px underline green;
}

.review-user-detail{
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.user{
    font-weight: 550;
}

.star{
    font-size: 1.5em;
    margin: 0;
}

/* book detail style end */

/* about us style start */

#about-main{
    padding: 2%;
}

q{
    font-size: 2em;
    font-style: italic;
}

dt{
    padding: 1%;
    font-weight: bold;
}
#quote{
    width: 100%;
    text-align: center;
}

#user-site-review{
    border: 4px solid rgb(55, 34, 19);
    border-radius: 15px;
    padding: 1% 1% 0 1%;
}

#user-site-review h2{
    width: 100%;
    text-align: center;
    font-size: 2em;
}

.bx-wrapper .bx-viewport{
    background-color: lightyellow;
    border: 4px solid rgb(55, 34, 19);
    border-radius: 25px;
}

/* about us style end */

/* review book style start */

#review-main{
    display: grid;
    grid-template-columns: 1fr;
    margin: 3%;
    justify-items: center;
}

#review-form-box{
    width: 60%;
}

#rate-book-h1{
    width: 100%;
    text-align: center;
}

#review-list-box-h1{
    width: 100%;
    text-align: center;
    margin-top: 5%;
}

fieldset{
    border: 2px solid rgb(55, 34, 19);
    border-radius: 20px;
    padding: 5% 10% 5% 5%;
}

#review-form input{
    margin-top: 3%;
    width: 100%;
    padding: 2%;
    border: 1px solid rgb(55, 34, 19);
    border-radius: 20px;
    background-color: lightyellow;
}

#review-form textarea{
    max-width: 100%;
    margin-top: 3%;
    width: 100%;
    padding: 2%;
    border: 1px solid rgb(55, 34, 19);
    border-radius: 20px;
    background-color: lightyellow;
}

#review-form select{
    margin-top: 3%;
    width: 105%;
    padding: 2%;
    border: 1px solid rgb(55, 34, 19);
    border-radius: 20px;
    background-color: lightyellow;
}

#review-form button{
    width: 105%;
    margin-top: 3%;
    padding: 2%;
    border: 2px solid rgb(55, 34, 19);
    border-radius: 20px;
    margin-top: 2%;
    font-size: 1.2em;
    background-color: rgb(30,25,21);
    color: rgb(248,255,255);
}

#review-form button:hover{
    cursor: pointer;
    background-color: rgb(30,25,21,0.9);
}

/* review book style end */

/* book list style start */

#booklist-main{
    padding: 2%;
}

#booklist-main h1{
    width: 100%;
    text-align: center;
}

.book-list-detail{
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.book{
    font-weight: 550;
}

/* book list style end */

/* Genre book shelf style start */

#genre-main{
    padding: 2%;
}

#magic-genre-box h1, #mystery-genre-box h1, #romace-genre-box h1, #scifi-genre-box h1{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    text-align: center;
}

#book-shelf{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    padding: 1%;
}

#shelf{
    border-bottom: 10px solid transparent;
    border-image: linear-gradient(to right, rgb(27,18,17), rgb(97,47,42) );
    border-image-slice: 1;
    padding: 0 5% 0 5%;
}

/* Genre book shelf style end */

@media all and (max-width: 768px) {

    /* nav style */

    #nav_ul li {
        display: block;
        margin: 25px 0;
    }

    /* header style */

    #header {
        line-height: 800%;
    }

    #header h1 a {
        font-size: 1em;
    }

    /* index style start */

    section {
        width: 80%;
        margin-bottom: 5%;
    }

    #div_2_section {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    #div_3_section {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    /* index style end */

    /* book detail style start */
    #book-main{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    #book-main-left{
        position: relative;
        display: grid;
        justify-content: center;
        height: 300px;
    }

    #book-main-left a{
        width: 100%;
    }
    /* book detail style end */

    /* book list style start */
    .book-list-detail{
        width: 100%;
        grid-template-columns: 1fr;
        text-align: center;
    }
    /* book list style end */

    /* review book style start */
    .review-user-detail{
        width: 100%;
        grid-template-columns: 1fr;
        text-align: center;
    }
    /* review book style end */

    /* Genre book shelf style start */

    #book-shelf{
        grid-template-columns: 1fr 1fr;
    }

    #book-shelf img{
        padding-top: 10%;
    }

    /* Genre book shelf style end */
}